<div class="container">
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
   <a class="navbar-brand" style="color: whitesmoke;" href="#">
    <img src="../../../assets/logo.png"  height="80" alt="" loading="lazy">
    </a>
    </nav>
  </div>

<br>
<div class="col-md-6">
  <div class="col-6 border" style="margin-left: 550px; padding: 60px; border-radius: 20px; border-color: mediumblue; border-width: 30px;">
    <div class="LoginContainer">
      <div class="Login">
        <h2 style="text-align:center">Log In!</h2>
          <br>
        <form >
          <div class="form-group">
              
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="Username" [(ngModel)]="Username" placeholder="Enter email" >
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password"  name="password" [(ngModel)]="password"class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <br>
          <div class="text-center">
            <button type="submit" (click)="Login()" class="btn btn-primary" ><b>Submit</b></button>
        </div>



          <br> 
          </form>
        </div>
        <div class="row">
          <div class="LoginMethods">
                
            <button class="btn btn-outline-dark" (click)="LoginGoogle()"  type="button" style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                Login with Google&nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </div>

        <div class="row">
          <div class="LoginMethods">
                
            <button class="btn btn-outline-dark" (click)="LoginFacebook()"  type="button" style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px"  src="https://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg" />
                Login with Facebook
            </button>
          </div>
        </div>
        </div>

        <br>
        
        </div>

  </div>

  





    