
<div class="container" *ngIf="isLoggedIn$ | async">
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
      <a class="navbar-brand" style="color: whitesmoke;" href="#">&nbsp;&nbsp;<b>Firebase</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" style="color: whitesmoke;" [ngClass]="{'active': selectedNav =='filestorage'}" [routerLink]="['/home/filestorage']" id="filestorage" (click)="navigation($event)"><b>File Storage</b> </a>
          </li>

          <li class="nav-item">
          <a class="nav-link dropdown-toggle" style="color: whitesmoke;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <b>Real Time Database</b>
          </a>
          <ul class="dropdown-menu adjustMargin" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/home/adduser']"><b>Add User</b></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/home/showuser']"><b>Show Users</b></a></li>
          </ul>
        </li>
          <li class="nav-item">
              <a class="nav-link" style="color: whitesmoke;"[ngClass]="{'active': selectedNav =='firebasedatabase'}" [routerLink]="['/home/firebasedatabase']" id="firebasedatabase" (click)="navigation($event)"><b>Firebase Database</b></a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" style="color: whitesmoke;" href="#"><b>Hosting</b></a>
            </li>
        </ul>
  
      </div>
      <button class="btn btn-danger" style="color: whitesmoke;" (click)="logout()"><b>Logout</b></button>
      &nbsp;&nbsp;</nav>
  
    </div>
    <div class="container">
    <router-outlet></router-outlet>
  </div>
